<form
    style="width:initial;max-width:initial"
    class="m-0 p-0"
    action="{{ path('category_index') }}">
    <button type="submit" class="btn m-1">
        <i class="bi bi-backspace-fill"></i>&nbsp;&nbsp;Retour à la liste des catégories
    </button>
</form>
