{% extends 'base.html.twig' %}

{% block title %}Éditer la catégorie{% endblock %}

{% block body %}

    <h1 class="m-3">
        Éditer la catégorie
    </h1>

    <div class="row">
        <div class="col-12 d-flex justify-content-start my-3">
            {{ include('category/_button_return.html.twig') }}
        </div>
    </div>

    <div class="row d-flex justify-content-center m-3">
        {{ include('category/_form.html.twig', {'button_label': 'Éditer'}) }}
    </div>
    
{% endblock %}
