<form
    style="width:initial;max-width:initial"
    class="m-0 p-0"
    method="post"
    action="{{ path('program_delete', {'id': program.id}) }}"
    onsubmit="return confirm('Voulez-vous vraiment supprimer cette série ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ program.id) }}">
    <button type="submit" class="btn btn-outline-danger m-1">
        <i class="bi bi-trash-fill"></i>
    </button>
</form>
