@import 'variables';
// customize some Bootstrap variables
$primary: $color-1;
$secondary: $color-2;
$light: $white;
$dark: $black;
$min-contrast-ratio: 2.5; //pour supprimer les erreurs de contraste
// $success: $green;
// $info: $cyan;
// $warning: $yellow;
// $danger: $red;

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

body {
    background-color: $light;
}

.navbar-brand img {
    height: 50px;
}

.btn-outline-black {
    border-color: $dark;
    &:hover,
    &:focus {
        background-color: $primary;
        color: $black;
        box-shadow: 0 0 3px 3px lightgray;
    }
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    min-width: 120px;
    text-align: center;
    &:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 3px;
        bottom: 0;
        left: 0;
        background-color: $primary;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }
    &:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }
}
