@import 'variables';

body {
    background-color: $light;
}

.under-navbar {
    padding-top: 76px;
    background-color: greenyellow;
}

.navbar-brand img {
    height: 50px;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
}

.btn-outline-black {
    border-color: $dark;
    &:hover,
    &:focus {
        background-color: $color-1;
        border-color: $color-1;
        color: $black;
    }
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    min-width: 120px;
    text-align: center;
    &:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 3px;
        bottom: 0;
        left: 0;
        background-color: $color-1;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }
    &:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }
}
