$color-1: #0DE49E;
$color-2: #07724F;
$color-3: #0BC88A;

// customize some Bootstrap variables
// $theme-colors: (
//   "primary":    $primary,
//   "secondary":  $secondary,
//   "success":    $success,
//   "info":       $info,
//   "warning":    $warning,
//   "danger":     $danger,
//   "light":      $light,
//   "dark":       $dark
// );

$min-contrast-ratio: 2.5; //pour supprimer les erreurs de contraste

//modification des couleurs Bootstrap
$secondary: $color-1;
$success: $color-2;
$info : $color-3;

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";
