<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
    <div class="container-fluid" id="nav-container">
        <a class="navbar-brand ms-3" href="{{ path('home') }}">
            <img src="{{ asset('build/logo.png') }}">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active mx-1 hover-underline-animation" href="{{ path('category_index') }}">
                        Catégories
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active mx-1 hover-underline-animation" href="{{ path('program_index') }}">
                        Séries
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active mx-1 hover-underline-animation" href="#">
                        Acteurs
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav">
                {% if app.user %}
                <li class="nav-item">
                    <a class="btn btn-warning mx-1" href="#">
                        Se déconnecter&nbsp;&nbsp;<i class="bi bi-box-arrow-left"></i>
                    </a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link active mx-1 hover-underline-animation" href="#">
                        S'inscrire
                    </a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline-black mx-1" href="#">
                        Se connecter&nbsp;&nbsp;<i class="bi bi-box-arrow-in-right"></i>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
